#page-wrapper
      .container-fluid
        // Page Heading
        .row
          .col-lg-12
            h1.page-header  Automated Program Repair and Visualization 
            h3(style='color:gray;') This tool gives likely repairs for programs that contain a bug.
        .row
          .col-lg-12
            br
            iframe(width='1000', height='400', src='https://www.youtube.com/embed/WOQx8rwlYFI', frameborder='0', allowfullscreen='')
      // /.container-fluid
    // /#page-wrapper
