#page-wrapper
      .container-fluid
        // Page Heading
        .row
          .col-lg-12
            h1.page-header  Use 
        // /.row
      // /.container-fluid
      .container-fluid.text-center
        h4 STEPS
        br
        .row.slideanim
          .col-sm-4
            img(src='/img/HowItWorks2.jpg', alt='Faulty Localization', style='width:200px;height:200px;')
            h4 Faulty Code
            p This code contains an error.
          .col-sm-4
            img(src='/img/LLVM.jpg', alt='Processing', style='width:200px;height:200px;')
            h4 Processing
            p Running the technique on the faulty code.
          .col-sm-4
            img(src='/img/HowItWorks3.jpg', alt='Possible fix!', style='width:200px;height:200px;')
            h4 Possible fix
            p A likely repair for the faulty program.
        br
        br
    // /#page-wrapper
